*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: pointer;
}

ul,ol{
    list-style: none;
}

a{
    text-decoration: none;
    display: inline-block;
}

img{
    width: 100%;
}

body{
    font-family: sans-serif;
}


.container{
    width: 1140px;
    margin: 0 auto;
}


.ui{
    display: flex;
    align-items: center; 
    justify-content: center;
    margin: 10px 0px;
}


.ui h3{
    font-size: 25px;
    font-weight: 400;
    margin-right: auto;
}



 
.desk_list{
    margin-left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}



.desk_item a{
   
    margin: 0px 50px;
}


.desk_item a{
    color: black;
    font-size: 18px;
    font-weight: 600;
    transition: .5s;
}

.desk_item a:hover{
   color: #5FB848; 
   transform: scale(1.1);
}


.deska{
    font-size: 16px;
    background-color: #494949;
    color: white;
    font-weight: 600;
    padding: 10px 20px ;
    border-radius: 30px;
    transition: .5s;
}


.deska:hover{
    color: white;
    background-color: #5FB848;
    transform: scale(1.1);
}


/* navbar-ended */
/* ///////////////////////// */


.main .container{
    display: flex;
    align-items: center;justify-content: center;
}


.heal{
    margin-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.heal_text h1{
    font-size: 50px;
    font-weight: normal;
    width: 450px;
    line-height:60px;
    transition: .5s;
}

.heal_text h1:hover{
    color: #5FB848;
    transform: scale(1.1);
}

.heal_text p{
    font-size: 20px;
    margin: 10px 0px;
    width: 400px;
    line-height: 35px;
    color: #181D19;
}


.heal_text a{
    color: white;
    background-color:#494949;
    padding: 10px 20px;
    font-size: 19px;
    border-radius: 30px;
    margin-top: 20px;
    transition: .5s;
}


.heal_text a:hover{
    background-color: #5FB848;
    transform: scale(1.1) rotateX(360deg);
}


.heal_img img{
    width: 650px;
}

